<a href="https://colab.research.google.com/github/yairbadillo01/daa_2021_1/blob/master/26Octubre.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from time import time
def ejemplo1( n ):
    start_time = time()

    c = n + 1
    d = c * n
    e = n * n
    total = c + e - d
    print(f"total={ total }")
    elapsed_time = time() - start_time
    print("Tiempo transcurrido: %0.10f segundos." % elapsed_time)
for entrada in range (100,1100,100):
  ejemplo1( entrada )

total=1
Tiempo transcurrido: 0.0000643730 segundos.
total=1
Tiempo transcurrido: 0.0000305176 segundos.
total=1
Tiempo transcurrido: 0.0000309944 segundos.
total=1
Tiempo transcurrido: 0.0000185966 segundos.
total=1
Tiempo transcurrido: 0.0000133514 segundos.
total=1
Tiempo transcurrido: 0.0000135899 segundos.
total=1
Tiempo transcurrido: 0.0000135899 segundos.
total=1
Tiempo transcurrido: 0.0000123978 segundos.
total=1
Tiempo transcurrido: 0.0000128746 segundos.
total=1
Tiempo transcurrido: 0.0000135899 segundos.

In [ ]:
from time import time
def ejemplo2( n ):
    start_time = time()
    contador = 0
    for i in range( n ) :
        for j in range( n ) :
            contador += 1
    elapsed_time = time() - start_time
    print("Tiempo transcurrido: %0.10f segundos." % elapsed_time)        
    return contador
for entrada in range (100,1100,100):
  ejemplo2( entrada )

Tiempo transcurrido: 0.0010063648 segundos.
Tiempo transcurrido: 0.0020542145 segundos.
Tiempo transcurrido: 0.0063076019 segundos.
Tiempo transcurrido: 0.0082397461 segundos.
Tiempo transcurrido: 0.0131466389 segundos.
Tiempo transcurrido: 0.0193054676 segundos.
Tiempo transcurrido: 0.0261421204 segundos.
Tiempo transcurrido: 0.0335955620 segundos.
Tiempo transcurrido: 0.0436525345 segundos.
Tiempo transcurrido: 0.0586647987 segundos.

In [ ]:
from time import time
def ejemplo3 (n):
  start_time = time()
  x= n* 2
  y = 0
  for m in range (100):
    y = x -n 
  elapsed_time = time() - start_time
  print("Tiempo transcurrido: %0.10f segundos." % elapsed_time)
  return y
  
for entrada in range (100,1100,100):
  ejemplo3( entrada )

Tiempo transcurrido: 0.0000042915 segundos.
Tiempo transcurrido: 0.0000064373 segundos.
Tiempo transcurrido: 0.0000076294 segundos.
Tiempo transcurrido: 0.0000078678 segundos.
Tiempo transcurrido: 0.0000088215 segundos.
Tiempo transcurrido: 0.0000092983 segundos.
Tiempo transcurrido: 0.0000078678 segundos.
Tiempo transcurrido: 0.0000071526 segundos.
Tiempo transcurrido: 0.0000095367 segundos.
Tiempo transcurrido: 0.0000095367 segundos.

In [ ]:
from time import time
def ejemplo4( n ):
    start_time = time()
    x = 3 * 3.1416 + n
    y = x + 3 * 3 - n
    z = x + y
    elapsed_time = time() - start_time
    print("Tiempo transcurrido: %0.10f segundos." % elapsed_time)
    return z
for entrada in range (100,1100,100):
  ejemplo4( entrada )

Tiempo transcurrido: 0.0000009537 segundos.
Tiempo transcurrido: 0.0000009537 segundos.
Tiempo transcurrido: 0.0000004768 segundos.
Tiempo transcurrido: 0.0000004768 segundos.
Tiempo transcurrido: 0.0000004768 segundos.
Tiempo transcurrido: 0.0000007153 segundos.
Tiempo transcurrido: 0.0000009537 segundos.
Tiempo transcurrido: 0.0000004768 segundos.
Tiempo transcurrido: 0.0000014305 segundos.
Tiempo transcurrido: 0.0000011921 segundos.

In [ ]:
from time import time
def ejemplo5( x ):
    start_time = time()

    n = 10
    for j in range( 0 , x , 1 ):
        n = j + n
    elapsed_time = time() - start_time
    print("Tiempo transcurrido: %0.10f segundos." % elapsed_time)
    return n
for entrada in range (100,1100,100):
  ejemplo5( entrada )

Tiempo transcurrido: 0.0000059605 segundos.
Tiempo transcurrido: 0.0000176430 segundos.
Tiempo transcurrido: 0.0000267029 segundos.
Tiempo transcurrido: 0.0000374317 segundos.
Tiempo transcurrido: 0.0000469685 segundos.
Tiempo transcurrido: 0.0000581741 segundos.
Tiempo transcurrido: 0.0000672340 segundos.
Tiempo transcurrido: 0.0000741482 segundos.
Tiempo transcurrido: 0.0000646114 segundos.
Tiempo transcurrido: 0.0001068115 segundos.

In [ ]:
from time import time
def ejemplo6( n ):
    start_time = time()
    data=[[[1 for x in range(n)] for x in range(n)]
          for x in range(n)]
    suma = 0
    for d in range(n):
        for r in range(n):
            for c in range(n):
                suma += data[d][r][c]
    elapsed_time = time() - start_time
    print("Tiempo transcurrido: %0.10f segundos." % elapsed_time)
    return suma
for entrada in range (100,1100,100):
  ejemplo6( entrada )

Tiempo transcurrido: 0.1419131756 segundos.
Tiempo transcurrido: 1.0553052425 segundos.
Tiempo transcurrido: 7.8812458515 segundos.
Tiempo transcurrido: 8.7080709934 segundos.
Tiempo transcurrido: 21.2098131180 segundos.
Tiempo transcurrido: 39.1862931252 segundos.
Tiempo transcurrido: 51.7157301903 segundos.

In [ ]:
def ejemplo7( n ):
    count = 0
    for i in range( n ) :
        for j in range( 25 ) :
            for k in range( n ):
                count += 1
    return count

In [ ]:
def ejempo7_2 (n):
  count = 0
  for i range (n):
    for j in range (25):
      for k in range (n):
        count += 1
      for k in range (n):
        count +=1
  return count
ejemplo7_2 (3)
#1+50n^2

In [ ]:
def ejemplo8( numeros ): # numeros es una lista (arreglo en c)
    total = 0
    for index in range(len(numeros)):
        total = numeros[index]
    return total
ejemplo8(numeros)

In [ ]:
def ejemplo9(  n ):
    contador = 0
    basura = 0
    for i in range( n ) :
        contador += 1
    for j in range( n ) :
        contador += 1
    basura = basura + contador
    return contador
print(ejemplo9( 5 ))

In [ ]:
def ejemplo10( n ):
    count = 0
    for i in range( n ) :
        for j in range( i+1 ) :
            count += 1
    return count
print(ejemplo10(5))

#(n^2)/2
"""

0
n           1^2 = 1 / 2 = 0
nn          2^2 = 4/ 2 = 2   
nnn         3^2 = 9  / 2 = 4
nnnn        1^2 = 1 / 2 = 0
nnnnn
nnnnnn

n= 3
000
n00 <-- aqui empieza el for interno
nn0 <--- aqui termina el for interno
nnn


n = 4
0000
n000 <-- Aqui empieza el for interno
nn00
nnn0 <-- Aqui termina el for interno
nnnn


n = 5
00000
n0000 <-- Aqui empieza el for interno
nn000
nnn00
nnnn0 <-- Aqui termina el for interno
nnnnn
"""

# T(n) = 1 + (n^2+n)/ 2
# n = 1 --> 1+(1^2+1)/2 = 2
# n = 2 --> (2^2+2)/2 = 3
# n = 1 --> (3^2+3)/2 = 6
# n = 1 --> (4^2+4)/2 = 10

15

In [ ]:
def ejemplo11( n ):
    count = 0
    i = n
    while i > 1 :
        count += 1
        i = i // 2 
    return count
print(ejemplo11(16))
# T(n) =  2 + (2 Log 2 n)

In [ ]:
def ejemplo12( n ):
    contador = 0
    for x in range(n):
        contador += ejemplo11(x)
    return contador

In [ ]:
def ejemplo12_bis( n=5 ):
    contador = 0
    contador = contador + ejemplo11(0) # 0
    contador = contador + ejemplo11(1) # 0
    contador = contador + ejemplo11(2) # 1
    contador = contador + ejemplo11(3) # 1
    contador = contador + ejemplo11(4) # 2
    return contador
ejemplo12_bis( 5 )

In [1]:
def ejemplo13( x ):
    bandera = x
    contador = 0
    while( bandera >= 10):
        print(f" x = { bandera } ")
        bandera /= 10
        contador = contador + 1
    print(contador)
# T(x) = log10 x +1
ejemplo13( 1000 )

 x = 1000
 x = 100.0
 x = 10.0
3

In [ ]:
def ejemplo14( n ):
    y = n
    z = n
    contador = 0
    while y >= 3: #3
        y /= 3  # 1
        contador += 1  # cont =3
    
    while z >= 3: #27
        z /= 3
        contador += 1
    return contador
print(ejemplo14( 27 ))

In [ ]:
def ejemplo15( n ): 
    contador = 0
    for i in range( n ) :
        for j in range( n ) :
            contador += 1
            
    while n > 1 :
        contador += 1
        n /= 2
    return contador

print(ejemplo15(10))